<div id="contenedorForm" class="contenedorForm"></div>
<div class="ManejoProductos">
    <div class="botoneraManejoProductos">
        <button id="btnAgregar">Agregar producto</button>
        <button id="btnEliminar"> Eliminar producto</button>
        <button id="btnEditar">Editar producto</button>
    </div>
    <div class="VisualManejoProductos">
        {{#each productos}}
        <li id="product-{{this.id}}">
            <img src="{{this.imgURL}}" alt="{{this.title}}">
            <strong>{{this.title}}</strong>
            <div class="comprarProducto">
                ${{this.price}}
                <button>Comprar</button>
            </div>
        </li>
        {{/each}}
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/manejoProductos.js"></script>